<?xml version="1.0" encoding="utf-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
 version="2.4">
  <display-name>Pasteboard</display-name>
  <jsp-config>
    <taglib>
      <taglib-uri>/utils</taglib-uri>
      <taglib-location>/WEB-INF/tags/Utils.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/dbutils</taglib-uri>
      <taglib-location>/WEB-INF/tags/DBUtils.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.sorakasugano.pasteboard.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StarServlet</servlet-name>
    <servlet-class>com.sorakasugano.pasteboard.StarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StarServlet</servlet-name>
    <url-pattern>/star/*</url-pattern>
    <url-pattern>/unstar/*</url-pattern>
  </servlet-mapping>
</web-app>
